<% provide(:title, "Home") %>
<div class="row justify-content-center align-items-center">
  <div class="col-9">
    <h1 class="category-title">Home</h1>
  </div>
  <div class="col-3 text-center">
    <a href="<%= edit_home_url %>" role="button" class="btn btn-success align-middle">Edit
      Page</a>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12">
    <hr/>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-10">
    <%= markdown_renderer.render(h @home.contents).html_safe %>
  </div>
</div>
