<% provide(:title, @post.title) %>
<div class="row justify-content-center">
  <div class="col-12">
    <h1 class="display-1"><%= @post.title %></h1>
  </div>
  <div class="col-10">
    <%= @markdown.render(h @post.contents).html_safe %>
  </div>
</div>