<div class="row justify-content-center">
  <div class="col-6">
    <%=  form_for @category, method: :post, url: '/categories/create'  do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name %>

      <%= form.submit %>
    <% end %>
  </div>
</div>