<% provide(:title, @category.name + " | RailsWiki") %>
<div class="row justify-content-center align-items-center">
  <div class="col-9">
    <h1 class="post-title"><%= @category.name %></h1>
  </div>
  <div class="col-3 text-center">
    <a href="/categories/<%= @category.id %>/edit" role="button" class="btn btn-success align-middle">Edit Post</a>
    <a data-confirm="Are you sure you want to delete this page?" data-method="delete" href="/categories/<%= @category.id%>" role="button" class="btn btn-danger align-middle">Delete Post</a>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12">
    <hr/>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-10">
    <%= @markdown.render(h @category.homepage).html_safe %>
  </div>
</div>